
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Play Video</title>
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/sunny/jquery-ui.min.css" />
	<link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../bower_components/jquery-dropdown/jquery.dropdown.min.css" />
    <link href="index.css" type="text/css" rel="stylesheet"/>
    <script src="index.js" language="javascript"></script>
</head>
<body class="playlistMode">
    <div id="notificationBanner"></div>
    <form class="hidden">
        <input id="browseExternalMedia" type="file" multiple="multiple" accept=".setinjs" />
    </form>
    <div id="batchEntryDialog" title="Batch Entry">
        <p>
            Type or paste contents into the textbox on the left. The detected scriptures
            and publication references will appear on the right.
        </p>
        <form>
            <textarea id="batchEntryText"></textarea>
        </form>
        <ul></ul>
    </div>
    <div id="videoContainer">
        <video id="video"></video>
        <div id="text"></div>
        <div id="videoControls" class="playlistMode">
            <i class="vidrw fa fa-fw fa-repeat fa-flip-horizontal"></i>
            <i class="vidbackward fa fa-fw fa-step-backward"></i>
            <i class="vidplaypause fa fa-fw fa-play"></i>
            <i class="vidforward fa fa-fw fa-step-forward"></i>
            <i class="vidff fa fa-fw fa-repeat"></i>
        </div>
    </div>
    <div id="playlistContainer" class="playlistMode">
        <h1>Playlist</h1>
        <form id="playlist">
            <ol></ol>
        </form>
    </div>
    <div id="playlistTabs" class="playlistMode">
        <a id="playlistSave"><i class="fa fa-fw fa-floppy-o"></i> Save</a>
        <a id="playlistClear"><i class="fa fa-fw fa-trash"></i> Clear</a>
    </div>
    <div id="fullscreenVideoProgress" class="fullscreenMode ui progress"></div>
    <div id="fullscreeninfo" class="fullscreenMode ui">
        <div><strong>Now playing:</strong></div>
        <div class="chname">Nothing!</div>
        <div class="time">
            <span class="curTime"></span>
        </div>
    </div>
    <div class="fullscreenMode cornerbuttons ui">
        <i class="fa fa-fw fa-power-off togglebutton powerButton"></i>
        <i class="fa fa-fw fa-compress togglebutton fullscreenToggle"></i>
    </div>
    <div class="playlistMode cornerbuttons ui">
        <i class="fa fa-fw fa-power-off togglebutton powerButton"></i>
        <i class="fa fa-fw fa-expand togglebutton fullscreenToggle"></i>
    </div>
    <div id="dropdown" class="jq-dropdown jq-dropdown-tip jq-dropdown-anchor-right">
        <ul class="jq-dropdown-menu">
            <li><a id="mnuBrowseExternalMedia" href="#">Browse external media…</a></li>
            <li><a id="mnuBatchEntry" href="#">Batch entry…</a></li>
            <li class="jq-dropdown-divider"></li>
            <li class="diabled-for-lastrow"><a id="mnuInsertRow" href="#">Insert Row</a></li>
            <li class="diabled-for-lastrow"><a id="mnuDeleteRow" href="#">Delete Row</a></li>
        </ul>
    </div>
</body>
</html>
