body {
    margin:0;
    padding:0;
    background-color: black;
    font-family: Calibri, 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #eee;
}

video {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#text {
    position: absolute;
    text-align: center;
}

.hidden {
    display:none;
}

.ccw90 {
    transform: rotate(270deg);
}

.cw90 {
    transform: rotate(90deg);
}

.ui-widget-overlay {
    background: #000;
    opacity: .6;
}

/***** SPLASH *****/

#splash {
    background-image: url(splash.png);
    border: 1px solid white;
    width: 792px; 
    height: 244px;
    margin: 33vh auto;
    border-radius: 8px;
}
.splashprogress {
    margin: 170px 75px 0 98px;
    height: 10px;
}

/***** NOTIFICATION BANNER *****/

#notificationBanner {
    z-index: 9999;
    border-bottom: 2px solid #333;
    background-color: #222;
    color: #ddd;
    padding: 1.5vh 1vw;
    text-align: center;
    display: none;
}

/***** FULLSCREEN *****/

body.fullscreenMode .playlistMode {display:none;}

body.fullscreenMode .ui {opacity:0;}

body.fullscreenMode #text {
    left: 4vw;
    top: 0;
    bottom: 0;
    width: 92vw;
    font-size: 8vh;
    line-height: 92vh !important;
}

body.fullscreenMode video {
    position:absolute;
    height: 100vh;
    width: 100vw;
}

#fullscreeninfo {
    display:none;
    position:absolute;
    width: 16vw;
    right: 3vw;
    bottom: 3vh;
    color: #444;
    border: 3px solid #222;
    border-radius: 8px;
    padding: 6px;
    background-color: #111;
}

.fullscreenMode.progress {
    position:absolute;
    bottom:0;
    background-color:#222;
    opacity: 0.7;
    height:0.75vh;
}

/***** PLAYLIST *****/

body.playlistMode .fullscreenMode,
body.playlistMode .splashMode,
body.fullscreenMode .splashMode,
body.splashMode .fullscreenMode,
body.splashMode .playlistMode
{display:none;}

body.playlistMode #text {
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding:0 10%;
    font-size: 2.5vh;
}

body.playlistMode #videoContainer {
    position: absolute;
    top: 25vh;
    left: 7vw;
    width: 36vw;
    height: 70vh;
}

body.playlistMode video {
    position: relative;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
}

body.playlistMode #videoControls {
    margin-top: 2vh;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}
#videoControls i {
    font-size: 3vh;
    background-color: #333;
    margin: 0 1vw;
    padding: 1.3vh;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
}
#videoControls .fa-play {
    padding: 1.3vh 1vh 1.3vh 1.6vh;
}

/* Reward and Fast-Forward are hidden until they're fine-tuned a bit more */
.vidff, .vidrw {display:none;}

#videoControls i.disabled {background-color: #222;}
#videoControls i.disabled:hover {background-color: #222;}
#videoControls i:hover {
    background-color: #444;
}
#videoControls i:active {
    background-color: #888;
}

#playlistContainer {
    position:absolute;
    width: 43vw;
    right: 8vw;
    top: 10vh;
    height: 80vh;
    border: 2px solid #222;
    border-radius: 8px;
    background-color: #0f0f0f;
    overflow-y: auto;
    user-select: none;
    -webkit-user-select: none;
}
#playlistContainer h1 {
    font-size: 2.75vh;
    color: #999;
    text-align:center;
    margin:0;
    padding:0.7vh;
    background-color: #1c1c1c;
    border-bottom: 2px solid #222;
}
#playlistContainer ol {
    list-style: none; 
    margin:0; 
    padding:0;
}
#playlistContainer .handle {
    cursor: -webkit-grab; 
    padding: 0px 13px; 
    font-size: 15px; 
    color: #aaa;
    position: relative;
}
#playlistContainer li {
    height: 35px;
    line-height: 35px;
    margin-top: -1px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

#playlistContainer input[type=text] {
    border: 0;
    background-color: transparent;
    color: #999;
    font-size: 14px;
    padding: 4px 0;
    margin-left: -5px;
    width: 33vw;
    text-overflow: ellipsis;
    position: relative;
}

#playlistContainer input[type=text]::selection {
    background-color:#aaa;
}

#playlistContainer input::-webkit-input-placeholder {
    color:#333;
    font-style: italic;
}

#playlistContainer input:focus {
    outline:none !important;
}

#playlistContainer li.selected {
    background-color: #222;
}
#playlistContainer li.selected .progress {
    display: block;
    position: absolute;
    height: 35px;
    width: 0;
    background-color: #2c2c2c;
}
#playlistContainer li.parseErr {
    background-color: #450A0A;
}
#playlistContainer li.mediaErr {
    background-color: #472300;
}
#playlistContainer li i {
    float:right;
    margin: 10px 8px 0 0;
}
#playlistContainer i {
    display:none;
    opacity: 0;
}
#playlistContainer li.parsing i.loader {
    display: inline-block;
    opacity: 0.7;
}
#playlistContainer li.selected i.menu {
    display: inline-block;
    opacity: 0.3;
}
#playlistContainer li.selected i.menu:hover {
    opacity: 0.9;
    cursor: pointer;
}
#playlistContainer .tag {
    position: absolute;
    line-height: 14px;
    margin: 11px 30px 0 0;
    padding: 0 7px;
    right: 0;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
}

#playlist .valid .tag, #playlist .new .tag {
    display:none;
}
#playlist .mediaErr .tag {
    color: white;
    background-color: #734a1e;
}

#playlistTabs {
    position: absolute;
    z-index: -1;
    top: 91vh;
    left: 51vw;
}

#playlistTabs a {
    background-color: #151515;
    border: 2px solid #222;
    border-radius: 0 0 8px 8px;
    padding: 1.1vh 1.5vw 1vh 1vw;
    margin-right: 0.9vw;
    font-size: 0.9em;
    color: #999;
}

#playlistTabs a:hover {
    background-color: #252525;
    cursor: pointer;
}

#playlistTabs a:active {
    background-color: #292929;
}

.cornerbuttons {
    position: absolute;
    right: 1vw;
    bottom: 0;
}

.togglebutton {
    display:block;
    font-size: 3vh;
    background-color: #333;
    margin: 0 0 2vh 0;
    padding: 1.3vh;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
}

.togglebutton:hover {
    background-color: #444;
}

/* Playlist Dropdown Menu */
#dropdown li {
    color: #ccc;
    font-size: 12px;
}
#dropdown a:hover {
    background: #555;
}
#dropdown .disabled {
    color: #888;
}
#dropdown .disabled a:hover {
    background-color: #333;
}
#dropdown ul {
    background: #333;
    border: solid 1px #555;
}
.jq-dropdown .jq-dropdown-menu .jq-dropdown-divider {
    border-top-color: #555;
}
.jq-dropdown.jq-dropdown-tip:before,
.jq-dropdown.jq-dropdown-tip:after {
    border-bottom-color: #555;
}

/* Dialogs */

.dialog {
    display:none;
}
#batchEntryDialog form {
    width: 50%;
    float: left;
}
#batchEntryDialog textarea {
    width: 100%;
    height: 45vh;
}
#batchEntryDialog ul {
    margin-left: 54%;
}
#studyDialog input {
    width: 99%;
}