body {
    margin:0;
    padding:0;
    background-color: black;
    font-family: Calibri, 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
    color: #eee;
}

/***** FULLSCREEN *****/

body.fullscreenMode .playlistMode {display:none;}

body.fullscreenMode video {
    position:absolute;
    height: 100vh;
    width: 100vw;
}

#fullscreeninfo {
    display:none;
    position:absolute;
    width: 16vw;
    right: 3vw;
    bottom: 3vh;
    color: #444;
    border: 3px solid #222;
    border-radius: 8px;
    padding: 6px;
    background-color: #111;
}

/***** PLAYLIST *****/

body.playlistMode .fullscreenMode {display:none;}

body.playlistMode #videoContainer {
    position: absolute;
    width: 36vw;
    height: 100vh;
    margin-left: 7vw;
}

body.playlistMode video {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-top: 25vh;
}

#playlistContainer {
    position:absolute;
    width: 43vw;
    right: 8vw;
    top: 20vh;
    height: 60vh;
    border: 2px solid #222;
    border-radius: 8px;
    background-color: #0f0f0f;
    overflow-y: auto;
    user-select: none;
    -webkit-user-select: none;
}
#playlistContainer h1 {
    font-size: 18px;
    color: #999;
    text-align:center;
    margin:0;
    padding:5px;
    background-color: #1c1c1c;
    border-bottom: 2px solid #222;
}
#playlistContainer ol {
    list-style: none; 
    margin:0; 
    padding:0;
}
#playlistContainer .handle {
    cursor: -webkit-grab; 
    padding: 0px 13px; 
    font-size: 15px; 
    color: #aaa;
}
#playlistContainer li {
    height: 35px;
    line-height: 35px;
    margin-top: -1px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

#playlistContainer input[type=text] {
    border: 0;
    background-color: transparent;
    color: #999;
    font-size: 14px;
    padding: 4px 0;
    margin-left: -5px;
    width: 33vw;
}

#playlistContainer input::-webkit-input-placeholder {
    color:#333;
    font-style: italic;
}

#playlistContainer input:focus {
    outline:none !important;
}

#playlistContainer li.selected {
    background-color: #222;
}
#playlistContainer li.parseErr {
    background-color: #450A0A;
}
#playlistContainer li.mediaErr {
    background-color: #472300;
}

#cornerbuttons {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
}

.togglebutton {
    font-size: 24px;
    background-color: #333;
    margin: 0 2vw 2vh 0;
    padding: 12px;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
}

.togglebutton:hover {
    background-color: #444;
}
