
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Play Video</title>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" />
	<link href="index.css" type="text/css" rel="stylesheet"/>
    <script src="index.js" language="javascript"></script>
</head>
<body class="playlistMode">
    <div id="videoContainer">
        <video id="video" preload="metadata"></video>
    </div>
    <div id="playlistContainer" class="playlistMode">
        <h1>Playlist</h1>
        <form id="playlist">
            <ol>
                <li><input type="text" name="fld1" id="fld1" /></li>
                <li><input type="text" name="fld2" id="fld2" /></li>
                <li><input type="text" name="fld3" id="fld3" /></li>
                <li><input type="text" name="fld4" id="fld4" /></li>
                <li><input type="text" name="fld5" id="fld5" /></li>
                <li><input type="text" name="fld6" id="fld6" /></li>
                <li><input type="text" name="fld7" id="fld7" /></li>
                <li><input type="text" name="fld8" id="fld8" /></li>
                <li><input type="text" name="fld9" id="fld9" /></li>
            </ol>
        </form>
    </div>
    <div id="fullscreeninfo" class="fullscreenMode">
        <div><strong>Now playing:</strong></div>
        <div class="chname">Nothing!</div>
        <div class="time">
            <span class="curTime"></span>
        </div>
    </div>
    <div id="cornerbuttons">
        <i class="fa fa-fw fa-power-off togglebutton powerButton"></i>
        <i class="fa fa-fw fa-expand playlistMode togglebutton fullscreenToggle"></i>
        <i class="fa fa-fw fa-compress fullscreenMode togglebutton fullscreenToggle"></i>
    </div>
</body>
</html>
