
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Play Video</title>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css" />
	<link href="index.css" type="text/css" rel="stylesheet"/>
    <script src="index.js" language="javascript"></script>
</head>
<body class="playlistMode">
    <div id="videoContainer">
        <video id="video" preload="metadata"></video>
        <div id="videoControls" class="playlistMode">
            <i class="vidbackward fa fa-fw fa-step-backward"></i>
            <i class="vidplaypause fa fa-fw fa-play"></i>
            <i class="vidforward fa fa-fw fa-step-forward"></i>
        </div>
    </div>
    <div id="playlistContainer" class="playlistMode">
        <h1>Playlist</h1>
        <form id="playlist">
            <ol></ol>
        </form>
    </div>
    <div id="fullscreeninfo" class="fullscreenMode">
        <div><strong>Now playing:</strong></div>
        <div class="chname">Nothing!</div>
        <div class="time">
            <span class="curTime"></span>
        </div>
    </div>
    <div id="cornerbuttons">
        <i class="fa fa-fw fa-power-off togglebutton powerButton"></i>
        <i class="fa fa-fw fa-expand playlistMode togglebutton fullscreenToggle"></i>
        <i class="fa fa-fw fa-compress fullscreenMode togglebutton fullscreenToggle"></i>
    </div>
</body>
</html>
